body {
    margin: 0;
    overflow: hidden;
    color: white;
    height: 100%;
    display: flex;
    animation: 5s linear 0s infinite canvasColor;
    /* color: transparent; */
    /* text-shadow: 0 0 20px rgba(43, 39, 39, 0.8), 0 0 0 rgb(184, 184, 184); */
}

#drawing-board{
    touch-action: pinch-zoom;
    cursor: crosshair;
    
}

@keyframes canvasColor {
    0% {
      background-color: red;
    }
    16% {
        background-color: orange;
    }
    33% {
      background-color: yellow;
    }
    50% {
        background-color: green;
    }
    66% {
        background-color: blue;
    }
    83% {
        background-color: purple;
    }
    100% {
        background-color: red;
    } 
  }

#toolbar {
    /* display:block; */
    align-content: center;
    padding: 5px;
    width: 120px;
    background: linear-gradient(25deg,
    red, orange, yellow , green, blue, purple);
    /* border-radius: 90px; */
    box-shadow:  10px 0px 20px #8a8989;
}

#toolbar > * {
    text-align: center;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#toolbar input {
    width: 80%;
    box-shadow: 3px 3px 5px #1f1b2a,
             -3px -3px 5px #5a595c;
} 

button {
    transition:0.75s;
    margin-top:20px;
    margin-right: 25px;
    padding: 10px;
    background-color: transparent;
    color:white;
    /* box-shadow:  5px 5px 10px #1f1b2a,
              -5px -5px 10px #292338; */
    border: none;
    /* border-radius: 10px; */
    border-radius: 25px;
    box-shadow: inset 3px 3px 5px #1f1b2a,
                inset -3px -3px 5px #5a595c;
}

button:hover{
    transition:0.75s;
    transform:rotate(360deg);
    box-shadow: 3px 3px 7px #1f1b2a,
             -3px -3px 7px #5a595c;
}

#color {
    border: none;
    padding: 0;
}

#lineWidth{
    height:2px;
    /* border-radius: 50%; */
    outline:none;
    background: gray; 
    appearance: none;
}

#lineWidth::-moz-range-thumb, #lineWidth::-webkit-slider-thumb {
    background: white;
    border: solid white;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

input, button {
    cursor: pointer;
}

.glitter-star > *{
    position: absolute;
    color: black;
    animation: 1.5s linear 0s infinite star;
  }
  
@keyframes star {
  0% {
    -webkit-transform: scale(1.0) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5) rotate(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0) rotate(360deg);
    opacity: 1;
  }
}

#pere-noel{
    position: absolute;
    font-size: 300px;
    text-align: center;
    animation: 1.5s linear 0s infinite noel;
}

@keyframes noel {
    0% {
      transform: scale(1.0) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(180deg);
    }
    100% {
      transform: scale(1.0) rotate(360deg);
    }
}

#laser1, #laser2 {
    width: 40px;
    height: 10px;
    position: absolute;  
    border-radius: 5px;
    background-color: red;
    top:50%;
    left:50%;
    z-index:10;
    transform: rotate(deg);
}


